<div class="posts-wrapper">
    <div class="post-wrapper">
        <header class="post-header">
            <a href="/dashboard/edit/{{id}}">{{post_title}}</a>
            <aside>
                Posted by {{user.username}} on {{format_date createdAt}}
            </aside>
        </header>
        <div class="post-body">
            {{post_text}}
        </div> <!-- post-body -->
    </div>
</div>